<table class="table table-striped">
  <tr>
    <td><%= @restaurant.name %></td>
    <td><%= @restaurant.address %></td>
    <td><%= @restaurant.city %></td>
    <td><%= @restaurant.state %></td>
    <td><%= @restaurant.zipcode %></td>
    <td><%= @restaurant.category.category %></td>
  </tr>
</table>

<p>
  <%= @restaurant.description %>
</p>

<h4>Reviews:</h4>

<table class="table table-hover">
  <% @reviews.each do |r| %>
    <tr>
      <td><%= r.rating %></td>
      <td><%= r.body %></td>
    </tr>
  <% end %>
</table>
